@using Domain.Interfaces
@using Domain.Models
@using GUI_Index.Session
@using Microsoft.AspNetCore.Http
@model Domain.Interfaces.ILobby
@{
    ViewData["Title"] = "Tilslut Lobby";
}
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<body>
<div class="container">

    <button type="button" class="btn btn-post" onclick="location.href = '@Url.Action("TilslutLobby", "Lobby")'">Ud af lobby</button>

    <div class="form-group left-Align ingamebox">
        Mangler implementering af SignalR.
        <table>
            <th>Users in Lobby: </th>
            @if (Model.Usernames.Count > 0)
            {
                foreach (var usernames in Model.Usernames)
                {
                    <tr>
                        <td>
                            @usernames;
                        </td>
                    </tr>
                }
            }
        </table>
    </div>

    <div class="form-group right-Align ingamebox">
        <table>
            <th>Some nice additional info</th>
            <tr>
                <td>
                    <i>Admin of the lobby: </i> <b> @Model.AdminUserName;</b>
                </td>

            </tr>
        </table>
    </div>

    @{
        string user = SessionExtension.GetObjectFromJson<User>(Context.Request.HttpContext.Session, "user").Username;
    }

    <form method="post" formaction="@Url.Action("Lobby", "Lobby")">
        <table>
            <tr>
                <div class="top-Align">
                    <div id="center-Text">

                        Hello: <label id="LobbyUser">@user</label>  <br/>
                        Welcome to: @Model.Id

                    </div>
                        
                    <ul id="Messages"></ul>

                </div>

            </tr>

            <tr>
                <div class="absolute-center is-responsive">
                    <div class="form-group">
                        <input type="hidden" class="form-control" name="Id">
                    </div>
                    <div class="btn-group-vertical">

                        <button type="submit" class="btn btn-primary">Start spil</button>
                        <div class="divider"></div>
                        <br />
                        <button type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("TilslutLobby", "Lobby")'">
                            find anden lobby
                        </button>
                    </div>
                </div>
            </tr>
        </table>

    </form>

</div>

</body>

<script src='@Url.Content("~/lib/signalr.js")'></script>
<script src='@Url.Content("~/js/Lobby.js")'></script>