@model GUI_Index.Models.User
@{
    ViewData["Title"] = "PostLogInd";
}

<body>



<div class="container">
    <button type="button" class="btn btn-post" onclick="location.href = '@Url.Action("LogInd", "Home")'">Log Ud</button>

    <div class="form-group left-Align">
        @Html.Label("Brugernavn:")
        <div class="col-md-2 textColorBlack">
            @Html.Value("Username")
        </div>

        @Html.Label("Fornavn:")
        <div class="col-md-2 textColorBlack">
            @Html.Value("GivenName")
        </div>

        @Html.Label("Efternavn:")
        <div class="col-md-2 textColorBlack">
            @Html.Value("LastName")
        </div>

        @Html.Label("Email:")
        <div class="col-md-2 textColorBlack">
            @Html.Value("id")
        </div>

    </div>



    <form method="post">
        <div class="absolute-center is-responsive">
            <div class="btn-group-vertical">
                <button type="button" class="btn btn-post">
                    Mine Aktive Spil
                </button>
                <div class="divider"></div>
                <br/>
                <button type="button" class="btn btn-post">
                    Tilslut Lobby
                </button>
                <div class="divider"></div>
                <br/>
                <button type="button" class="btn btn-post">
                    Opret Lobby
                </button>
            </div>
        </div>
    </form>
</div>



@*<button type="button" class="btn-primary" onclick="location.href='@Url.Action("LogInd", "Home")'">Log Ud</button>
        <div class="container">
            <div class="row">

                <div class="absolute-center is-responsive">
                    <div class="btn-group-vertical">
                        <button type="button" class="btn-primary">Mine Aktive Spil</button>

                        <button type="button" class="btn-primary">Tilslut Lobby</button>

                        <button type="button" class="btn-primary">Opret Lobby</button>
                    </div>
                </div>
            </div>
        </div>*@
</body>
